html, body {
    margin: 0;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    background-image: url('./images/tree.jpg');
    background-size: cover;
}

body {
    padding-top: 35px;
    padding-bottom: 35px;
    height: fit-content;
    min-height: 100%;
}

:root {
    --accentColor: black;
    --hoverColor: rgba(255, 255, 255, 0.8); /* Hover durumunda kullanılacak daha açık renk */
    --borderColor: rgba(0, 0, 0, 0.5); /* Kenar rengi */
    --delay: 0.3s;
}

.description, .source {
    color: black;
    text-align: center;
    margin: 27px auto;
    margin-top: 10px;
    width: 90%;
    max-width: 500px;
}

.source {
    font-size: medium;
    margin-top: 50px;
}

.profilePicture, .profilePicture img {
    position: relative;
    width: 130px;
    height: 130px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
}

.userName {
    color: var(--accentColor);
    font-size: x-large;
    font-weight: bold;
    line-height: 1.25;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

.link {
    position: relative;
    background-color: transparent; /* Arka plan rengi başlangıçta şeffaf */
    color: var(--accentColor);
    border: solid var(--borderColor) 2px; /* Başlangıçta daha açık bir kenar rengi */
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    display: block;
    margin: 10px; /* Kenar boşluklarını sadeleştirmek için tek bir değer kullanıldı */
    padding: 10px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    
    /* Geçiş özellikleri */
    transition: background-color var(--delay), color var(--delay), border-color var(--delay), box-shadow var(--delay);
}

@media (hover: hover) {
    .link:hover {
        background-color: var(--accentColor);
        color: var(--hoverColor); /* Hover durumunda metin rengi daha açık olacak */
        border-color: transparent; /* Hover durumunda kenar rengi yok olacak */
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Hover durumunda gölge efekti ekleniyor */
    }
}

.link:active {
    background-color: var(--accentColor);
    color: var(--hoverColor);
    border-color: transparent; /* Aktif durumda da kenar rengi yok olacak */
}

.backloggd-img {
    margin-right: 4px;
}
